.slide_cta_button {
  display:block;
  border: 1px #FFF solid;
  width:150px;
  margin:10px 0px;
  padding: 15px;
  text-align:center;
  color:#fff;
  text-decoration:none;
}
.slide_cta_button:hover {
  display:block;
  border: 1px #FFF solid;
  width:150px;
  margin:10px 0px;
  padding: 15px;
  text-align:center;
  color:#000;
  background:#fff;
  text-decoration:none;
}
.overlay_cta_button {
  font-family:arial;
  border: 1px #FFF solid;
  width:150px;
  margin:10px 0px 0px 20px;
  padding: 5px;
  text-align:center;
  color:#fff;
  font-size:10px;
  text-decoration:none;
}
.overlay_cta_button:hover {
  color:#000;
  background:#fff;
  text-decoration:none;
}
@media screen and (max-width: 640px) and (min-width: 320px) {
  .ms-layer.normal-desc {
    opacity: 0 !important;
    display: none;
  }
  .ms-layer.bold-title {
    opacity: 0 !important;
    display: none;
  }
  .slide_cta_button {
    margin: 10px auto !important;
  }
  
}