.ms-partialview-template {
	overflow: hidden;
	min-height: 150px;
}
.ms-partialview-template .ms-view {
	overflow: visible;
	background-color: transparent;
}

.ms-partialview-template .ms-slide {
	
}

.ms-partialview-template .ms-caro3d-template {
	overflow: hidden;
	margin: 0 auto;
	padding: 40px 15%;
}

.ms-partialview-template .ms-slide-info {
	text-align: center;
	font-family: "Lato";
	margin-top: -100px;
	position: absolute;
	z-index: 100;
	width: 100%;
}
@media only screen and ( max-width: 450px ) /* 1000 */
    {
.ms-partialview-template .ms-slide-info {
display: none;
}
}

.ms-partialview-template .ms-slide-info h3 {
margin: 5px 0px 0px 0px;
font-weight: ;
font-size: 20pt;
color: #FFF;
}.

.ms-partialview-template .ms-slide-info h4 {
	margin: 5px;
	font-weight: 300;
	font-size: 14pt;
	color: #7A7A7A;
}

.ms-partialview-template .ms-slide-info p {
	font-size: 10pt;
	margin: 0px 0px 0px 5px;
	color: #FFF;
}	

/* Layers */
.ms-layer.video-title {
    font-family: "Lato",sans-serif;
    color: white;
    font-weight: 600;
    font-size: 42px;
    margin:0px;
    letter-spacing:0px;
}

.ms-layer.video-title.video-top-title {
    font-size: 16px;
    color: gray;
}

.ms-layer.video-title.video-sub-title {
    font-size: 22px;
    font-weight: 300;
}